.main_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.main_container {
  position: relative;
}

.main_wrapper_tag {
  color: #7c7c7c;
  font-weight: 900;
  font-size: 24px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* second side */

.main_second_side{
    background-color: #7C7C7C;
    color: #FFFFFF;
    padding: 20px;
    height: 246px;
    display: flex;
}

.main_second_p1{
    font-size: 14px;
    font-weight: 700;
}

.main_second_p2{
    font-weight: 300;
    font-size: 20px;
}

.main_second_p3{
    font-weight: 400;
    font-size: 14px;
    width: 90%;
}

.main_second_p4{
    font-size: 18px;
    font-weight: 300;
}

.main_second-imgs{
    width: 318px;
    height: 146px;
}