.header_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.header_info{
    display: flex;
    gap: 40px;
    align-items: center;
}

.header_btn{
    width: 160px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #C4C4C4;
    color: #444444;
    font-weight: 400;
    font-size: 14px;
    background-color: white;
}

.header_wrapper_ul li{
    list-style-type: none;
}

.header_wrapper_ul a{
    text-decoration: none;
    color: #444444;
    font-size: 18px;
}

.header_liner{
    background-color: #C4C4C4;
    height: 1px;
    margin-top: 10px;
}